.about-me {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.about-me>* {
  flex: 1;
}

.img-container {
  position: relative;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
}

.basic-information {
  padding: 0 2rem;
  font-size: 0.95rem;
  line-height: 1.85;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  color: var(--about-txt-clr);
}


@media (max-width: 991px) {
  .about-me {
    flex-direction: column;
  }

  .basic-information {
    width: 90%;
  }


  .img-container img {
    width: 20rem;
    height: 20rem;
  }

  .about {
    width: 78%;
  }
}

@media (max-width: 520px) {
  .about {
    width: 85%;
    padding: 1.5rem 1rem;
  }

  .img-container img {
    width: 16rem;
    height: 16rem;
  }

  .basic-information {
    font-size: 0.8rem;
  }
}