.home {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.home-title {
  font-size: 3rem;
}

.home-content {
  margin-top: 0.6rem;
}

.home-profession {
  color: var(--typed-clr);
  position: relative;
}

.home-profession::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 3px solid var(--primary-portfolio-clr);
}

@media (max-width: 991px) {
  .home {
    margin: auto;
    justify-content: center;
    padding: 0;
  }

  .home-title {
    font-size: 2.5rem;
  }

  .home-content {
    margin: 0.5rem 0 2rem;
  }

  .home-title,
  .home-content {
    text-align: center;
  }

  .home .social-links {
    margin-top: 2%;
    justify-content: center;
  }

  .home .navbar {
    display: none;
  }

}

@media (max-width: 520px) {
  .home-title {
    font-size: 2.2rem;
  }

  .home-content {
    font-size: 1.2rem;
  }
}